<a href="/" class="close">&#10005;</a>
<section class="content">
	<h1 class="title">ABOUT ME</h1>
	<article class="intro">
		<p class="first-block">My name is Ion Drimba Filho, I'm a Front-End Developer based in Brazil.<br>I’m passionate about developing highly interactive
			interfaces
			<br>with front-end technologies (JS, CSS, HTML, Canvas).</p><br>
		<p class="second-block">I consider myself a
			<u>framework agnostic developer</u>, meaning I can adapt to any front-end stack. Not 100% dependent on third-party libs or
			plugins to get things done, good understanding of
			<u>current</u> best practices for web performance/rendering.</p><br>
		<p class="third-block">I also have 5+ years of C# development using .NET Stack.</p><br>
		<p class="fourth-block">Over the past 10 years woking in the industry, I helped the development of<br>Websites/Hotsites, Casual games, SPA, Mobile
			Apps,
			<br>Enterprise Applications and API’s for companies like:</p>

		<div class="brands">
			<div class="ibope">
			</div>
			<div class="lg">
			</div>
			<div class="bauducco">
			</div>
			<div class="kia">
			</div>
			<div class="pfizer">
			</div>
			<div class="mcdonalds">
			</div>
			<div class="nestle">
			</div>
			<div class="natura">
			</div>
			<div class="johnsons">
			</div>
		</div>
	</article>
	<h4 class="skills">SKILLS & EXPERTISE</h4>
	<div class="group-list">
		<div class="primary">
			<h3 class="skills-title">PRIMARY</h3>
			<ul class="list">
				<li>Javascript(ES6)</li>
				<li>Canvas</li>
				<li>CSS(3)</li>
				<li>HTML(5)</li>
				<li>Backbone/React/Redux</li>
				<li>Sass/Less</li>
				<li>Tests(Karma/Jasmine)</li>
				<li>NodeJS</li>
				<li>Handlebars</li>
				<li>Gulp/Webpack/Grunt/npm</li>
				<li>Bootstrap/Foundation/MDL</li>
			</ul>
		</div>
		<div class="secondary">
			<h3 class="skills-title">SECONDARY</h3>
			<ul class="list">
				<li>C#</li>
				<li>PHP</li>
				<li>ASP.NET MVC</li>
				<li>WebGL(ThreeJs)</li>
				<li>API’s</li>
				<li>SQL Server/MySQL</li>
				<li>AWS</li>
			</ul>
		</div>
		<div class="passive">
			<h3 class="skills-title">PASSIVE</h3>
			<ul class="list">
				<li>Loves to code</li>
				<li>Enjoys new technologies</li>
				<li>Fast learner</li>
			</ul>
		</div>
		<div class="tools">
			<h3 class="skills-title">TOOLS</h3>
			<ul class="list">
				<li>VS Code</li>
				<li>Sublime Text</li>
				<li>Visual Studio</li>
				<li>Photoshop/Animate CC(Flash)</li>
				<li>GitHub</li>
				<li>CI (Travis/Appveyor)</li>
				<li>Coverage (Coveralls)</li>
			</ul>
		</div>
	</div>
</section>