<a href="/" class="close">&#10005;</a>
<section class="content">
	<h1 class="title">SOBRE</h1>
	<article class="intro">
		<p class="first-block">Olá, meu nome é Ion Drimba Filho, sou desenvolvedor Front-End.<br>Gosto de desenvolver aplicativos e interfaces interativas
			<br>com tecnologias Front-End.(JS, CSS, HTML, Canvas).</p><br>
		<p class="second-block">Me considero um desenvolvedor framework agnóstico, significando que posso me adaptar a qualquer 
stack de desenvolvimento, não me limitando à um framework específico.<br><br></p>
		<p class="third-block">Também tenho 5+ anos de experiência em .NET com C#.<br>
		Tenho sólido conhecimento em boas práticas modernas, OOP e design patterns.</p><br>
		<p class="fourth-block">Com 10+ anos trabalhando na área, ajudei empresas no desenvolvimento de diversos tipos de aplicações, desde Websites responsivos, Sistemas ERP, CMS's, jogos casuais e API's para empresas como:</p>

		<div class="brands">
			<div class="ibope">
			</div>
			<div class="lg">
			</div>
			<div class="bauducco">
			</div>
			<div class="kia">
			</div>
			<div class="pfizer">
			</div>
			<div class="mcdonalds">
			</div>
			<div class="nestle">
			</div>
			<div class="natura"> 
			</div>
			<div class="johnsons">
			</div>
		</div>
	</article>
	<h4 class="skills">HABILIDADES</h4>
	<div class="group-list">
		<div class="primary">
			<h3 class="skills-title">PRIMÁRIAS</h3>
			<ul class="list">
				<li>Javascript(ES6)</li>
				<li>Canvas</li>
				<li>CSS(3)</li>
				<li>HTML(5)</li>
				<li>Backbone/React/Redux</li>
				<li>Sass/Less</li>
				<li>Tests(Karma/Jasmine)</li>
				<li>NodeJS</li>
				<li>Handlebars</li>
				<li>Gulp/Webpack/Grunt/npm</li>
				<li>Bootstrap/Foundation/MDL</li>
			</ul>
		</div>
		<div class="secondary">
			<h3 class="skills-title">SECUNDÁRIAS</h3>
			<ul class="list">
				<li>C#</li>
				<li>PHP</li>
				<li>ASP.NET MVC</li>
				<li>WebGL(ThreeJs)</li>
				<li>API’s</li>
				<li>SQL Server/MySQL</li>
				<li>AWS</li>
			</ul>
		</div>
		<div class="passive">
			<h3 class="skills-title">PASSIVAS</h3>
			<ul class="list">
				<li>Prazer em programar/criar<br>(não apenas usar plugins)</li>
				<li>Entusiasta de novas tecnologias</li>
				<li>Rápido aprendizado</li>
			</ul>
		</div>
		<div class="tools">
			<h3 class="skills-title">FERRAMENTAS</h3>
			<ul class="list">
				<li>VS Code</li>
				<li>Sublime Text</li>
				<li>Visual Studio</li>
				<li>Photoshop/Animate CC(Flash)</li>
				<li>GitHub</li>
				<li>CI (Travis/Appveyor)</li>
				<li>Coverage (Coveralls)</li>
			</ul>
		</div>
	</div>
</section>