<div>
	<a href="/" class="close">&#10005;</a>
	<section class="content">
		<h1 class="title">ABOUT ME</h1>
		<article class="intro">
			<p>My name is Ion Drimba Filho, I'm a Web Developer based in Brazil.<br>I’m passionate about developing highly interactive
				interfaces
				<br>with javascript, CSS and html.</p><br>

			<p>I also have 5+ years of C# development using .NET Stack, mostly<br>ASP.Net MVC.</p><br>

			<p>With over 10+ years woking in the industry, I helped the development of<br>Websites/Hotsites, Casual games, SPA Apps,
				Mobile Apps,
				<br>Enterprise Systems and API’s for companies like:</p>

			<img class="brands" src="/images/brands.jpg" alt="Brands" width="571" height="150">
		</article>
		<h4 class="skills">SKILLS & EXPERTISE</h4>
		<div class="group-list">
			<div class="primary">
				<h3 class="skills-title">PRIMARY</h3>
				<ul class="list">
					<li>Javascript(ES6)</li>
					<li>Canvas</li>
					<li>WebGL(TreeJs)</li>
					<li>CSS(3)</li>
					<li>HTML(5)</li>
					<li>Backbone/React</li>
					<li>Sass/Less</li>
					<li>Tests(Karma/Jasmine)</li>
					<li>NodeJS</li>
					<li>Handlebars</li>
					<li>Grunt/Gulp/npm</li>
					<li>Bootstrap/Foundation</li>
				</ul>
			</div>
			<div class="secondary">
				<h3 class="skills-title">SECONDARY</h3>
				<ul class="list">
					<li>C#</li>
					<li>ASP.NET MVC</li>
					<li>PHP</li>
					<li>API’s</li>
					<li>SQL Server/MySQL</li>
					<li>AWS</li>
				</ul>
			</div>
			<div class="passive">
				<h3 class="skills-title">PASSIVE</h3>
				<ul class="list">
					<li>Loves to code</li>
					<li>Enjoys new tecnologies</li>
					<li>Fast learner</li>
				</ul>
			</div>
			<div class="tools">
				<h3 class="skills-title">TOOLS</h3>
				<ul class="list">
					<li>VS Code</li>
					<li>Sublime Text</li>
					<li>Visual Studio</li>
					<li>Photoshop/Animate CC(Flash)</li>
					<li>GitHub</li>
					<li>CI (Travis/Appveyor)</li>
					<li>Coverage (Coveralls)</li>
				</ul>
			</div>
		</div>
	</section>
</div>