<h1 class="hero-title">Ion Drimba F.<span>Desenvolvedor Front-End</span></h1>
<div class="grid3d"></div>
<a href="/sobre" class="link"><span>sobre</span>
</a>
<div class="social">
	<a target="_blank" rel="noopener noreferrer"  href="https://www.npmjs.com/~iondrimba" class="npm" title="NPM"> </a>
	<a target="_blank" rel="noopener noreferrer"  href="https://github.com/iondrimba" class="github" title="Github">
	</a>
	<a target="_blank" rel="noopener noreferrer"  href="https://coderwall.com/iondrimba" class="coderwall" title="Coderwall">
	</a>
	<a target="_blank" rel="noopener noreferrer"  href="https://www.linkedin.com/in/iondrimbafilho" class="linkedin" title="LinkedIn">
	</a>
</div>   