<h1>Ion Drimba F.<span>Front-End Developer</span></h1>
<div class="grid3d visible-false"></div>
<a href="/about" class="link"><span>about</span>
</a>
<div class="social">
	<a target="_blank" rel="noopener noreferrer"  href="https://www.npmjs.com/~iondrimba" class="npm" title="NPM"> </a>
	<a target="_blank" rel="noopener noreferrer"  href="https://github.com/iondrimba" class="github" title="Github">
	</a>
	<a target="_blank" rel="noopener noreferrer"  href="https://coderwall.com/iondrimba" class="coderwall" title="Coderwall">
	</a>
	<a target="_blank" rel="noopener noreferrer"  href="https://www.linkedin.com/in/iondrimbafilho" class="linkedin" title="LinkedIn">
	</a>
</div>