<!DOCTYPE html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"	/>
	<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#de132d">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="application-name" content="Ion Drimba Filho">
	<meta name="description" content="Front-End Developer">
	<meta name="keywords" content="Developer, Javascript Developer, Front-End Developer, Portfolio, C# Developer, Web Developer">
	<meta name="subject" content="Portfolio">
	<meta name="copyright" content="Ion Drimba Filho">
	<meta name="robots" content="index,follow">
	<meta name="abstract" content="">
	<meta name="topic" content="">
	<meta name="summary" content="">
	<meta name="Classification" content="Business">
	<meta name="author" content="Ion Drimba Filho">
	<meta name="designer" content="">
	<meta name="owner" content="">
	<meta name="url" content="http://br.iondrimbafilho.me">
	<meta name="pagename" content="Ion Drimba Filho">
	<meta name="category" content="">
	<meta name="coverage" content="Worldwide">
	<meta name="distribution" content="Global">
	<meta name="rating" content="General">
	<meta name="subtitle" content="Front-End Developer">
	<meta name="target" content="all">
	<!-- IE cleartype -->
	<meta http-equiv="cleartype" content="on">
	<!-- Social: Twitter -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="Ion Drimba Filho"> 
	<meta name="twitter:creator" content="Ion Drimba Filho">
	<meta name="twitter:title" content="Ion Drimba Filho">
	<meta name="twitter:description" content="Front-End Developer">
	<meta name="twitter:image:src" content="https://dl.dropboxusercontent.com/u/4633623/portfoliotwitter.jpg">
	<!-- Social: Facebook  -->
	<meta property="og:url" content="http://br.iondrimbafilho.me/">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Ion Drimba Filho">
	<meta property="og:image" content="https://dl.dropboxusercontent.com/u/4633623/portfolioface.jpg" />
	<meta property="og:description" content="Front-End Developer">
	<meta property="og:site_name" content="Ion Drimba Filho">
	<meta property="article:author" content="http://br.iondrimbafilho.me/">
	<meta property="article:publisher" content="http://br.iondrimbafilho.me/">
	<!-- Social: Google+ / Schema.org  -->
	<meta itemprop="name" content="Ion Drimba Filho">
	<meta itemprop="description" content="Front-End Developer">
	<meta itemprop="image" content="https://dl.dropboxusercontent.com/u/4633623/portfoliogoogleplus.jpg">
	<title>Ion Drimba Filho</title>
</head>

<body class="critical">	
	<div class="alert-offline">Versão offline já está disponível!</div>
	<main>
		<div class="home">
			<div class="loader">aguarde...</div>
		</div>
		<div class="about">
		</div>
	</main>
	<script async data-main="scripts/main.js" src="scripts/require.js"></script>
</body>