<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=5, minimum-scale=1, width=device-width" />
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#de132d">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#131e2d">
  <meta name="application-name" content="Ion Drimba Filho">
  <meta name="description" content="All things Javascript">
  <meta name="keywords" content="Developer, Javascript Developer, Front-End Developer, Portfolio, C# Developer, Web Developer">
  <meta name="subject" content="Portfolio">
  <meta name="copyright" content="Ion Drimba Filho">
  <meta name="robots" content="index,follow">
  <meta name="abstract" content="">
  <meta name="topic" content="">
  <meta name="summary" content="">
  <meta name="Classification" content="Business">
  <meta name="author" content="Ion Drimba Filho">
  <meta name="designer" content="Ion Drimba Filho">
  <meta name="owner" content="Ion Drimba Filho">
  <meta name="url" content="https://iondrimbafilho.me">
  <meta name="pagename" content="Ion Drimba Filho">
  <meta name="category" content="">
  <meta name="coverage" content="Worldwide">
  <meta name="distribution" content="Global">
  <meta name="rating" content="General">
  <meta name="subtitle" content="Front-End Developer">
  <meta name="target" content="all">
  <!-- IE cleartype -->
  <meta http-equiv="cleartype" content="on">
  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Ion Drimba Filho">
  <meta name="twitter:creator" content="Ion Drimba Filho">
  <meta name="twitter:title" content="Ion Drimba Filho">
  <meta name="twitter:description" content="Front-End Developer">
  <meta name="twitter:image:src" content="https://iondrimbafilho.me/images/portfoliotwitter.jpg">
  <!-- Social: Facebook  -->
  <meta property="og:url" content="https://iondrimbafilho.me/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ion Drimba Filho">
  <meta property="og:image" content="https://iondrimbafilho.me/images/portfolioface.jpg" />
  <meta property="og:description" content="Front-End Developer">
  <meta property="og:site_name" content="Ion Drimba Filho">
  <meta property="article:author" content="https://iondrimbafilho.me/">
  <meta property="article:publisher" content="https://iondrimbafilho.me/">
  <!-- Social: Google+ / Schema.org  -->
  <meta itemprop="name" content="Ion Drimba Filho">
  <meta itemprop="description" content="Front-End Developer">
  <meta itemprop="image" content="https://iondrimbafilho.me/images/portfoliogoogleplus.jpg">
  <title>Ion Drimba Filho</title>
</head>

<body class="critical">
  <div class="alert-offline">The site is ready for the offline experience!</div>
  <main>
    <div class="loader-wrapper">
      <div class="loader"></div>
      <span class="loader-text">just a second...</span>
    </div>
    <div class="home">
    </div>
    <div class="about">
      <div class="about__content">
      </div>
    </div>
  </main>
  <script async data-main="scripts/main.js" src="scripts/require.js"></script>
</body>

</html>
