<div class="tech view hidden">
    <a class="close" href="/work/{{id}}/info">
        <label>✕</label>
    </a>
    <fieldset class="front-end">
        <legend>
            Front-End:
        </legend>
        <div class="line-ph">
            <i></i>
        </div>
        <ul>
            {{#each tech.frontend}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </fieldset>
    <fieldset class="back-end">
        <legend>Back-End:</legend>
        <div class="line-ph">
            <i></i>
        </div>
        <ul>
            {{#each tech.backend}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </fieldset>
</div>
