@import "_variables.scss";
body {
    font-family: $font-family;
    overflow: hidden;
}

.grid3d {
    overflow-y: hidden;
    transform: translate3d(0, 0, 0);
    canvas {
        transform: translate3d(0, 0, 0);
    }
}

.loading-arrow {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    position: absolute;
}

.content-wrapper {
    width: 100%;
    background-color: #fff;
    min-height: 500px;
}

.content {
    max-width: 960px;
    margin: 0 auto;
    font-size: 1rem;
    letter-spacing: 0.5pt;
    background-color: $base-color;
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

a {
    color: $link-color;
    text-transform: uppercase;
    text-decoration: none;
}

i {
    display: inline-block;
    font-style: normal;
    position: relative;
}

fieldset {
    border: none;
    color: $link-color;
    legend {
        font-family: $font-family;
        padding-bottom: 15px;
        font-weight: bolder;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            height: 25px;
        }
    }
}

p {
    line-height: 20pt;
}

.show-scroll {
    overflow-y: scroll;
}

.no-svgsmill {
    .svg-ph {
        visibility: hidden;
    }
}
