@import '../variables';

@mixin close() {
  display: block;
  float: right;
  background-color: $seconday-color;
  color: $base-color;
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 22px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
  position: relative;
}
