@import '../variables';

@mixin close() {
  display: block;
  float: right;
  background-color: $seconday-color;
  color: $base-color;
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 22px;
  text-align: center;
  font-size: 1em;
  z-index: 2;
  position: relative;
}

.close {
  @include close();
  transform: translateY(-100%) translate3d(0, 0, 0);
  transition: transform .2s $out-quint;
}

.close-animate-in {
  transform: translateY(0) translate3d(0, 0, 0);
  transition: transform .3s .3s $out-quint;
}
