@import '../variables';

@mixin social-button() {
  display: block;
  height: 21px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  transform: translateY(50px) translate3d(0, 0, 0) translate3d(0, 0, 0);
  transition: transform .3s $bounce;
  width: 21px;
}

.social {
  bottom: 20px;
  display: flex;
  float: right;
  position: absolute;
  right: 20px;
  transform: translate3d(0, 0, 0);

  .social-animate-in {
    transform: translateY(0) translate3d(0, 0, 0);
  }
}

.npm {
  @include social-button();
}

.github {
  @include social-button();
}

.coderwall {
  @include social-button();

  margin-left: -3px;
  margin-top: -4px;
  width: 27px;
}

.linkedin {
  @include social-button();
}
