@import '../variables';

@mixin social-button() {
  width: 21px;
  height: 21px;
  background-image: url('/images/social-mini.png');
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(50px) translate3d(0, 0, 0) translate3d(0, 0, 0);
  transition: transform .3s $bounce;
}

.social {
  bottom: 10px;
  display: flex;
  float: right;
  position: absolute;
  right: 0;
  transform: translate3d(0, 0, 0);

  .social-animate-in {
    transform: translateY(0) translate3d(0, 0, 0);
  }
}

.npm {
  @include social-button();
  background-position: -26px -4px;
}

.github {
  @include social-button();
  background-position: -55px -4px;
}

.coderwall {
  @include social-button();
  background-position: -82px -4px;
}

.linkedin {
  @include social-button();
  background-position: -112px -4px;
}
