<div class="about hidden">
    <p>
        Hi, my name is Ion Drimba Filho, I'm a Web Developer based in Brazil.
        <br /> I'm focused on front-end development with javascript and back-end development with C#(.NET).
        <br />
        <br>Over the past 9 years I worked on various types of projects, like casual games, single page applications, small local business websites to large companies systems.
        <br />
        <br /> Thanks for stopping by =]
    </p>
    <div class="skills-set">
        <fieldset>
            <legend>Front-End:</legend>
            <div class="line-ph">
                <i></i>
            </div>
            <ul>
                <li>Javascript/jQuery</li>
                <li>Sass/Less</li>
                <li>Handlebars</li>
                <li>Backbone</li>
                <li>Grunt/Gulp/npm</li>
                <li>CSS3</li>
                <li>HTML5</li>
                <li>Bootstrap</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Back-End:</legend>
            <div class="line-ph">
                <i></i>
            </div>
            <ul>
                <li>C#</li>
                <li>MVC </li>
                <li>Web API</li>
                <li>Web Forms</li>
                <li>WPF</li>
                <li>SQL Server</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend>Design:</legend>
            <div class="line-ph">
                <i></i>
            </div>
            <ul>
                <li>Photoshop</li>
                <li>Flash</li>
            </ul>
        </fieldset>
    </div>
    <br />
    <br />
    <div class="about-project">
        <strong>About this project:</strong>
        <p>
            No jQuery
            <br /> CSS3 animations
            <br /> Html5 Pushstate
            <br /> Responsive
            <br /> 3D Grid: ThreeJs + TweenMax
            <br /> Routing system: Page.Js
        </p>
    </div>
</div>
