<div class="gallery view hidden">
    <a class="close" href="/work/{{id}}/info">✕</a>
    <div class="images-ph">
        <a class="rounded-button prev">
            <div class="svg-ph">
                <svg xmlns="http://www.w3.org/2000/svg" width="288" viewBox="265 48 670 236">
                    <path class="path" stroke="#000" stroke-width="5" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M335 182.9c-35.8 0-64.9-29.1-64.9-64.9s29.1-64.9 64.9-64.9 64.9 29.1 64.9 64.9-29.1 64.9-64.9 64.9z"></path>
                </svg>
            </div>
            <i class="arrow" title="arrow icon"></i>
        </a>
        <div class="image-list">
            <div class="line-ph">
                <i class=""></i>
            </div>
            <div class="ph">
                {{#each gallery}}
                <img src="{{this}}" /> 
                {{/each}}
            </div>
            <div class="clearfix"></div>
        </div>
        <a class="rounded-button next">
            <div class="svg-ph">
                <svg xmlns="http://www.w3.org/2000/svg" width="288" viewBox="265 48 670 236">
                    <path class="path" stroke="#000" stroke-width="5" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10" stroke-dasharray="500" stroke-dashoffset="500" fill="none" d="M335 182.9c-35.8 0-64.9-29.1-64.9-64.9s29.1-64.9 64.9-64.9 64.9 29.1 64.9 64.9-29.1 64.9-64.9 64.9z"></path>
                </svg>
            </div>
            <i class="arrow" title="arrow icon"></i>
        </a>
        <div class="images-menu">
            <a class="images-menu-item"></a>
            <a class="images-menu-item"></a>
            <a class="images-menu-item"></a>
            <a class="images-menu-item"></a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
