<div class="info view hidden">
    <div class="preview">
        <div class="picture-mask picture-one">
            <img src="/images/gallery1.jpg" />
        </div>
        <div class="picture-mask picture-two">
            <img src="/images/gallery1.jpg" />
        </div>
        <div class="picture-mask picture-tree">
            <img src="/images/gallery1.jpg" />
        </div>
        <div class="picture-mask picture-four">
            <img src="/images/gallery1.jpg" />
        </div>
        <div class="picture-mask picture-five">
            <img src="/images/gallery1.jpg" />
        </div>
    </div>
</div>
