<div class="project {{id}} clearfix" id="{{id}}">
    <div class="column infos">
        <a class="btn" href="/work/{{id}}/info">
            <div class="line-ph">
                <i class=""></i>
            </div>
            <h2>{{name}}</h2>
        </a>
        <p class="opacity">{{description}}</p>
        <div class="work-infos">
            <a class="tech" href="/work/{{id}}/tech">
                <div class="line-ph">
                    <i class=""></i>
                </div>
                <span>TECH</span>
                <i class="sprite sprite-tech"></i>
            </a>
            <a class="gallery" href="/work/{{id}}/gallery">
                <div class="line-ph">
                    <i class=""></i>
                </div>
                <span>IMAGES</span>
                <i class="sprite sprite-images"></i>
            </a>
            <a class="external" href="{{url}}" target="_blank">
                <div class="line-ph">
                    <i class=""></i>
                </div>
                <span>LAUNCH</span>
                <i class="sprite sprite-external"></i>
            </a>
        </div>
    </div>
    <div class="column views">        
      <!--INFO TEMPLATE-->
      <!--TECH TEMPLATE-->
      <!--GALLERY TEMPLATE-->       
    </div>
</div>
