<div class="tech view hidden">
    <a class="close" href="/work/musicbattl/info">
        <label>✕</label>
    </a>
    <fieldset class="front-end">
        <legend>
            Front-End:
        </legend>
        <div class="line-ph">
            <i></i>
        </div>
        <ul>
            <li>Javascript/jQuery</li>
            <li>Sass</li>
            <li>Handlebars</li>
            <li>Backbone</li>
            <li>Grunt</li>
            <li>SoundCloud API</li>
            <li>Design</li>
        </ul>
    </fieldset>
    <fieldset class="back-end">
        <legend>Back-End:</legend>
        <div class="line-ph">
            <i></i>
        </div>
        <ul>
            <li>C#</li>
            <li>WEBAPI</li>
            <li>DI (Ninject)</li>
            <li>SQL Server</li>
            <li>SignalR</li>
            <li>Azure</li>
        </ul>
    </fieldset>
</div>
