@import "../_variables.scss";
@import "../controls/_close.scss";

@mixin icon() {
  width: 80px;
  height: 80px;
  background-image: url(/images/logosv2.png);
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.about {
  //background-image: url(../images/bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  float: left;
  position: absolute;
  top: 0;
  z-index: 1;
  overflow-y: scroll;

  .ibope {
    .back {
      @include icon();
      background-position: 0 0;
    }
  }

  .lg {
    .back {
      @include icon();
      background-position: -106px 0;
    }
  }

  .bauducco {
    .back {
      @include icon();
      background-position: -212px 0;
    }
  }

  .kia {
    .back {
      @include icon();
      background-position: -318px -1px;
    }
  }

  .pfizer {
    .back {
      @include icon();
      background-position: -423px 0;
    }
  }

  .mcdonalds {
    .back {
      @include icon();
      background-position: -2px -101px;
    }
  }

  .nestle {
    .back {
      @include icon();
      background-position: -107px -101px;
    }
  }

  .natura {
    .back {
      @include icon();
      background-position: -212px -100px;
    }
  }

  .johnsons {
    .back {
      @include icon();
      background-position: -318px -100px;
    }
  }

  .title {
    font-family: 'medium';
    font-stretch: condensed;
    padding: 0;
    margin: 0;
    margin-top: -10px;
    font-size: 2.4em;
  }

  .intro {
    margin-top: 32px;
    font-size: 18px;
  }

  p {
    padding: 0;
    margin: 0;
  }

  .brands {
    width: 500px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    .flip-container {
      height: 80px;
      width: 80px;
      background-color: #000;
      margin-left: 10px;
      margin-right: 10px;
      perspective: 600px;
      margin-bottom: 20px;
    }

    .flip3d {
      transition: .5s;
      transform-style: preserve-3d;
      height: inherit;
      width: inherit;
      position: relative;

      .front {
        background-color: #fff;
        z-index: 2;
      }

      .back {
        transform: rotateY(180deg);
      }

      .front,
      .back {
        height: inherit;
        position: absolute;
        width: inherit;
        backface-visibility: hidden;
        top: 0;
        left: 0;
      }
    }
  }

  .flip-container:hover {
    .flip3d {
      transform: rotateY(180deg);
    }
  }

  .skills {
    padding: 0;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 29px;
    font-family: medium;
  }

  .group-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    div {
      width: 50%;
      margin-bottom: 30px;
    }
  }

  .skills-title {
    font-size: 22px;
    font-family: medium;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .content {
    padding-top: 64px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .close {
    @include close();
  }
}
