@import "../_variables.scss";

@mixin social-button() {
  width: 35px;
  height: 35px;
  background-image: url(/images/social-mini.png);
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(50px) translate3d(0, 0, 0) translate3d(0, 0, 0);
  transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.home {
  overflow: hidden;
  position: relative;
  height: round(100vh);

  h1 {
    position: absolute;
    z-index: 1;
    text-align: center;
    color: #fff;
    font-size: 68pt;
    top: round(50%);
    font-family: 'bold';
    transform: translateX(round(-50%)) translateY(round(10%)) translate3d(0, 0, 0);
    left: round(50%);
    height: auto;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #1d1c1c;
    font-weight: 800;
    line-height: 45pt;
    display: block;
    margin: 0;
    opacity: 0;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);

    span {
      font-weight: 100;
      font-size: 25pt;
      text-align: center;
      display: block;
      font-family: 'regular';
      letter-spacing: 3px;
      margin-top: 20px;
      transform: translateY(50px) translate3d(0, 0, 0);
      opacity: 0;
      transition: all .3s .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }

  .title-animate {
    transform: translateX(round(-50%)) translateY(round(-50%)) translate3d(0, 0, 0);
    opacity: 1;

    span {
      transform: translateY(0px) translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .social {
    display: flex;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 20px;
    transform: translate3d(0, 0, 0);
  }

  a.social-animate-in {
    transform: translateY(0px) translate3d(0, 0, 0);
  }

  .npm {
    @include social-button();
    background-position: 0 0;
  }

  .github {
    @include social-button();
    background-position: -45px 0;
  }

  .coderwall {
    @include social-button();
    background-position: -84px 0;
  }

  .linkedin {
    @include social-button();
    background-position: -130px 0;
  }
}

.link {
  background-color: #fff;
  color: #000;
  font-weight: 800;
  padding: 6px;
  position: absolute;
  bottom: 90px;
  display: block;
  width: 100px;
  text-align: center;
  font-size: 29px;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: transform .3s .2s cubic-bezier(0.23, 1, 0.32, 1);
}

.hide-button-about {
  transform: translateX(-120px) translate3d(0, 0, 0);
  transition: transform .3s;
}
