@import '../variables';
@import '../controls/close';
@import '../controls/brands-icons';

.about {
  background-position: center top;
  background-repeat: no-repeat;
  display: block;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.animate {
    display: block;
    z-index: 2;
  }

  &__content {
    background-color: $base-color;
    display: none;
    position: absolute;
    transform: translateY(round(100vh)) translate3d(0, 0, 0);
    width: 100%;
    will-change: transform;

    &.animate {
      animation: aboutShow .25s 1 forwards $out-quint;
      display: block;
    }

    &.animate-out {
      animation: aboutHide .25s 1 forwards $out-quint;
    }
  }

  .title {
    font-family: 'medium';
    font-size: 2.4em;
    font-stretch: condensed;
    margin: 0;
    margin-top: -10px;
    opacity: 0;
    padding: 0;
    transform: translateY(round(50px)) translate3d(0, 0, 0);
    transition: all .3s $out-quint;
    will-change: transform;
  }

  .first-block,
  .second-block,
  .third-block,
  .fourth-block,
  .fifth-block {
    opacity: 0;
    transform: translateY(round(50px)) translate3d(0, 0, 0);
    transition: all .3s $out-quint;
    will-change: transform;
  }

  .block-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .1s $bounce;
    will-change: transform;
  }

  .icon-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .2s .05s $bounce;
    will-change: transform;
  }

  .title-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .3s $out-quint;
    will-change: transform;
  }

  .intro {
    font-size: 18px;
    margin-top: 32px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .brands {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 500px;
  }

  .skills {
    font-family: medium;
    font-size: 29px;
    margin: 0;
    margin-bottom: 45px;
    margin-top: 75px;
    opacity: 0;
    padding: 0;
    transform: translateY(round(50px)) translate3d(0, 0, 0);
    transition: opacity .3s .3s $bounce, transform .3s .3s $bounce;

    &.animate-in {
      opacity: 1;
      transform: translateY(0) translate3d(0, 0, 0);
    }
  }

  .primary,
  .secondary {
    opacity: 0;
    transform: translateY(round(50px)) translate3d(0, 0, 0);
    transition: transform .3s .3s $bounce, opacity .3s .3s $bounce;
  }

  .primary {
    &.animate-in {
      opacity: 1;
      transform: translateY(0) translate3d(0, 0, 0);
    }
  }

  .secondary {
    &.animate-in {
      opacity: 1;
      transform: translateY(0) translate3d(0, 0, 0);
    }
  }

  .group-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    opacity: 0;
    transition: opacity .3s .3s $bounce;

    div {
      margin-bottom: 30px;
      width: 50%;
    }

    &.animate-in {
      opacity: 1;
    }
  }

  .skills-title {
    font-family: medium;
    font-size: 22px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .content {
    font-size: 1rem;
    left: 50%;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 64px;
  }
}

@keyframes aboutShow {
  from {
    display: block;
    transform: translateY(round(100vh)) translate3d(0, 0, 0);
  }

  to {
    display: block;
    transform: translateY(0) translate3d(0, 0, 0);
  }
}

@keyframes aboutHide {
  0% {
    display: block;
    transform: translateY(round(-100vh)) translate3d(0, 0, 0);
  }

  100% {
    display: none;
    transform: translateY(100vh) translate3d(0, 0, 0);
  }
}
