@import '../variables';
@import '../controls/close';
@import '../controls/brands-icons';

.about {
  background-color: $base-color;
  background-position: center top;
  background-repeat: no-repeat;
  float: left;
  opacity: .2;
  position: absolute;
  top: -1000px;
  transform: translateY(10vh) translate3d(0, 0, 0);
  transition: transform .3s $out-quint;
  width: 100%;
  z-index: -1;

  &.animate {
    opacity: 1;
    top: 0;
    transform: translateY(0) translate3d(0, 0, 0);
    z-index: 2;
  }

  &.animate-out {
    transform: translateY(100vh) translate3d(0, 0, 0);
    z-index: 2;
  }

  .title {
    font-family: 'medium';
    font-size: 2.4em;
    font-stretch: condensed;
    margin: 0;
    margin-top: -10px;
    opacity: 0;
    padding: 0;
    transform: translateY(50px) translate3d(0, 0, 0);
    transition: all .3s $out-quint;
  }

  .first-block,
  .second-block,
  .third-block,
  .fourth-block,
  .fifth-block {
    opacity: 0;
    transform: translateY(50px) translate3d(0, 0, 0);
    transition: all .3s $out-quint;
  }

  .block-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .1s $bounce;
  }

  .icon-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .2s .05s $bounce;
  }

  .title-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .3s $out-quint;
  }

  .intro {
    font-size: 18px;
    margin-top: 32px;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .brands {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 500px;
  }

  .skills {
    font-family: medium;
    font-size: 29px;
    margin: 0;
    margin-bottom: 45px;
    margin-top: 75px;
    opacity: 0;
    padding: 0;
    transform: translateY(50px) translate3d(0, 0, 0);
    transition: all .3s $bounce;
  }

  .primary {
    opacity: 0;
    transform: translateY(50px) translate3d(0, 0, 0);
    transition: all .3s $bounce;
  }

  .secondary {
    opacity: 0;
    transform: translateY(50px) translate3d(0, 0, 0);
    transition: all .3s $bounce;
  }

  .primary-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .35s $bounce;
  }

  .secondary-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .40s $bounce;
  }

  .skills-animate-in {
    opacity: 1;
    transform: translateY(0) translate3d(0, 0, 0);
    transition: all .3s .3s $bounce;
  }

  .group-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    div {
      margin-bottom: 30px;
      width: 50%;
    }
  }

  .skills-title {
    font-family: medium;
    font-size: 22px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .content {
    font-size: 1rem;
    left: 50%;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 64px;
  }
}
