@import 'variables';

body {
  font-family: $font-family;
  margin: 0;
  overflow: hidden;
}

div,
section,
article {
  box-sizing: border-box;
}

.critical {
  background: linear-gradient(193deg, $gradient-primary 0, $gradient-secondary 100%);
  background-size: 600% 600%;
  height: 100vh;
}
