@import 'variables';

body {
  font-family: $font-family;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $seconday-color;
}

div,
section,
article {
  box-sizing: border-box;
}

.critical {
  background: $seconday-color;
  height: 100vh;
}

.loader-wrapper {
  left: 50%;
  position: absolute;
  top: 46%;
  transform: translateX(-50%) translateY(-10%) translate3d(0, 0, 0);
  width: 320px;
  z-index: 1;
}

.loader {
  opacity: 1;
  transition: opacity .3s .2s;
}

.loader-text {
  color: $base-color;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(282%) translate3d(0, 0, 0);
  transition: opacity .3s;
}

.fade-out {
  opacity: 0;
}

div.fade-in {
  opacity: 1;
}
