@import 'variables';

body {
  font-family: $font-family;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: $seconday-color;
}

div,
section,
article {
  box-sizing: border-box;
}

.critical {
  background: $seconday-color;
  height: 100vh;
}
