@import '../variables';
@import '../controls/social-buttons';
@import '../controls/about-button';
@import '../controls/grid3d';
@import '../controls/alert-offline';

.home {
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  height: round(100vh);
  overflow: hidden;
  position: relative;

  h1 {
    color: $base-color;
    display: block;
    font-family: 'bold';
    font-size: 68pt;
    font-weight: 800;
    height: auto;
    left: round(50%);
    line-height: 45pt;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    text-shadow: 1px 1px 0 $shadow;
    text-transform: uppercase;
    top: round(50%);
    transform: translateX(round(-50%)) translateY(round(10%)) translate3d(0, 0, 0);
    transition-delay: .2s;
    transition-duration: .3s;
    transition-property: transform, opacity;
    transition-timing-function: $bounce;
    width: 500px;
    z-index: 1;

    span {
      display: block;
      font-family: 'regular';
      font-size: 25pt;
      font-weight: 100;
      letter-spacing: 3px;
      margin-top: 20px;
      opacity: 0;
      text-align: center;
      transform: translateY(round(50px)) translate3d(0, 0, 0);
      transition-delay: .4s;
      transition-duration: .3s;
      transition-property: transform, opacity;
      transition-timing-function: $bounce;
    }
  }

  .title-animate {
    opacity: 1;
    transform: translateX(round(-50%)) translateY(round(-50%)) translate3d(0, 0, 0);

    span {
      opacity: 1;
      transform: translateY(0) translate3d(0, 0, 0);
    }
  }
}

