@import "../_variables.scss";

footer {
    height: 140px;

    .arrows-ph {
        overflow: hidden;
        height: 140px;
    }

    .arrows {
        width: 316px;
        height: 86px;
        position: relative;
        display: flex;
        top: 55px;
        left: 50%;
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .arrow-half-down.first, .arrow-half-down.second {
        position: absolute;
    }

    .arrow-half-down.first {
        left: 126px;
        top: 8px;
        border-left-color: lighten($arrow-color, 30);
        border-right-color: lighten($arrow-color, 2);
        border-top-color: lighten($arrow-color, 30);
        border-bottom-color: lighten($arrow-color, 5);
    }

    .arrow-full {
        position: absolute;
        margin-left: 50%;
    }

        .arrow-full.second {
            left: -120px;
            top: 37px;
            border-left-color: lighten($arrow-color, 30);
            border-right-color: lighten($arrow-color, 3);
            border-top-color: lighten($arrow-color, 0);
            border-bottom-color: lighten($arrow-color, 30);
        }

        .arrow-full.third {
            left: -61px;
            top: 37px;
            border-left-color: lighten($arrow-color, 3);
            border-right-color: lighten($arrow-color, 30);
            border-top-color: lighten($arrow-color, 30);
            border-bottom-color: lighten($arrow-color, 0);
        }

        .arrow-full.fourth {
            left: 25px;
            top: 9px;
            border-left-color: lighten($arrow-color, 5);
            border-right-color: lighten($arrow-color, 7);
            border-top-color: lighten($arrow-color, 30);
            border-bottom-color: lighten($arrow-color, 1);
        }

        .arrow-full.fifth {
            left: 54px;
            top: 38px;
            border-left-color: lighten($arrow-color, 1);
            border-right-color: lighten($arrow-color, 30);
            border-top-color: lighten($arrow-color, 5);
            border-bottom-color: lighten($arrow-color, 30);
        }

    .arrow-half-up.first {
        left: 9px;
        position: absolute;
        bottom: -20px;
        border-left-color: lighten($arrow-color, 1);
        border-top-color: lighten($arrow-color, 5);
    }

    .arrow-half-up.second {
        left: 68px;
        position: absolute;
        bottom: -20px;
        border-left-color: lighten($arrow-color, 1);
        border-top-color: lighten($arrow-color, 5);
    }

    .arrow-half-up.third {
        left: 242px;
        position: absolute;
        bottom: -20px;
        border-left-color: lighten($arrow-color, 1);
        border-top-color: lighten($arrow-color, 5);
    }

    .arrow-half-down.second {
        left: 271px;
        bottom: 8px;
        border-right-color: lighten($arrow-color, 1);
        border-bottom-color: lighten($arrow-color, 5);
    }
}