@import "../_variables.scss";

%base-arrow {
    width: 0;
    height: 0;
    -moz-transform: $degree;
    -ms-transform: $degree;
    -o-transform: $degree;
    -webkit-transform: $degree;
    transform: $degree;
}

.arrow-full {
    @extend %base-arrow;
    border-left: $size solid $arrow-color;
    border-right: $size solid $arrow-color;
    border-top: $size solid $arrow-color;
    border-bottom: $size solid $arrow-color;
}

.loading-arrow {
    @extend %base-arrow;
    border-color: transparent;
}

.arrow-half-down {
    @extend %base-arrow;
    border-left: $size solid transparent;
    border-right: $size solid $arrow-color;
    border-top: $size solid transparent;
    border-bottom: $size solid $arrow-color;
}

.arrow-half-up {
    @extend %base-arrow;
    border-left: $size solid $arrow-color;
    border-right: $size solid transparent;
    border-top: $size solid $arrow-color;
    border-bottom: $size solid transparent;
}

i.arrow {
    border-right: 0.1em solid $base-color;
    border-top: 0.1em solid $base-color;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    will-change: transform;
}