@font-face {
  font-family: 'regular';
  src: url('../fonts/DINPro.woff2') format('woff2'), url('../fonts/DINPro.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'medium';
  src: url('../fonts/DINPro-CondMedium.woff2') format('woff2'), url('../fonts/DINPro-CondMedium.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


@font-face {
  font-family: 'bold';
  src: url('../fonts/DINPro-CondBold.woff2') format('woff2'), url('../fonts/DINPro-CondBold.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}