@import 'variables';

body {
  font-family: $font-family;
  overflow: hidden;
}

.grid3d {
  overflow-y: hidden;
}

div,
section,
article {
  box-sizing: border-box;
}

.loading-arrow {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(round(-50%)) translateY(round(-50%)) rotate(45deg);
}
