$base-color: #fff;
$seconday-color: #000;
$shadow:  #1d1c1c;
$offline-alert-bg:rgba(0, 0, 0, .80);
$arrow-color: #e5e5e5;
$loader-color: #3498db;
$gradient-primary: rgba(4, 84, 130, 1);
$gradient-secondary:  rgba(46, 116, 255, 1);
$link-color: #333;
$size: 20px;
$degree: rotate(45deg);
$font-family: 'regular', Arial;
$bounce: cubic-bezier(.175, .885, .32, 1.275);
$out-quint: cubic-bezier(.23, 1, .32, 1);
$easingtime: .3s;
