$base-color: #fff;
$seconday-color: #000;
$shadow:  #1d1c1c;
$arrow-color: #e5e5e5;
$link-color: #333;
$size: 20px;
$degree: rotate(45deg);
$font-family: 'regular';
$bounce: cubic-bezier(.175, .885, .32, 1.275);
$easingtime: .3s;
