@import '../variables';

@media only screen and (max-width: 480px) {
  .home h1 {
    font-size: 40pt;
    width: 301px;

    span {
      font-size: 13pt;
      letter-spacing: 3px;
      margin-top: -10px;
    }
  }

  .home {
    .social {
      right: 50%;
      transform: translateX(50%) translate3d(0, 0, 0);
    }
  }

  .about {
    .content {
      padding-left: 20px;
      padding-right: 20px;
    }

    .group-list div {
      margin-bottom: 30px;
      width: 100%;
    }
  }
}

