.animate-in {
    animation: left .5s 0s forwards, top .5s .3s forwards, right .5s .6s forwards, bottom .5s .9s forwards, left-r .5s 1.2s forwards, top-r .5s 1.5s forwards, right-r .5s 1.8s forwards, bottom-r .5s 2.1s forwards;
}


/*ANIMATION IN*/

@-moz-keyframes bottom {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #eaeaea;
    }
}

@-webkit-keyframes bottom {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #eaeaea;
    }
}

@keyframes bottom {
    from {
        border-bottom-color: transparent;
    }
    to {
        border-bottom-color: #eaeaea;
    }
}

@keyframes top {
    from {
        border-top-color: transparent;
    }
    to {
        border-top-color: #dddddd;
    }
}

@keyframes left {
    from {
        border-left-color: transparent;
    }
    to {
        border-left-color: #f5f5f5;
    }
}


/*ANIMATION OUT*/

@keyframes right {
    from {
        border-right-color: transparent;
    }
    to {
        border-right-color: #cccccc;
    }
}

@keyframes bottom-r {
    to {
        border-bottom-color: transparent;
    }
    from {
        border-bottom-color: #eaeaea;
    }
}

@keyframes top-r {
    to {
        border-top-color: transparent;
    }
    from {
        border-top-color: #dddddd;
    }
}

@keyframes left-r {
    to {
        border-left-color: transparent;
    }
    from {
        border-left-color: #f5f5f5;
    }
}

@keyframes right-r {
    to {
        border-right-color: transparent;
    }
    from {
        border-right-color: #cccccc;
    }
}
