@import "../_variables.scss";
.draw-in {
    opacity: 1;
    transition: opacity 0s .5s;
    .path {
        animation: draw 2s .5s .5 forwards;
    }
    .arrow {
        opacity: 0;
        animation: showArrow 1s .6s 1 forwards;
    }
}

@-moz-keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes showArrow {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
