@-moz-document url-prefix() { 
  fieldset {
        .line-ph i {
            top: -11%!important;
        }
    }
}
.about {
    
    margin-bottom: 50px;
        
    > p {
        padding-bottom: 5%;
        opacity: 0;
    }

    h2 {
        padding-bottom: 20px;
    }

    .about-project {
        font-size: 9pt;
        opacity: 0;
        display: inline-block;
        margin-top: 20px;

        p {
            line-height: 16pt;
            font-style: italic;
        }
    }
 
    fieldset {
        position: relative;
        padding: 0 0.0 0.75em;
        display: block;
        float: left;

        .line-ph i {
            top: 5%;
        }

        ul {
            opacity: 0;
        }
    }

    legend {
        opacity: 0;
    }

    .skills-set {
        float: left;
        width: 100%;

        fieldset:not(:first-child) {
            margin-left: 10%;
        }
    }

    .animate-in-legend-left {
        .line-ph i {
            -moz-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -o-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -webkit-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
        }

        legend {
            -moz-animation: fadeIn .5s .7s 1 forwards;
            -o-animation: fadeIn .5s .7s 1 forwards;
            -webkit-animation: fadeIn .5s .7s 1 forwards;
            animation: fadeIn .5s .7s 1 forwards;
        }
    }

    .animate-in-legend-center {
        .line-ph i {
            -moz-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -o-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -webkit-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
        }

        legend {
            -moz-animation: fadeIn .5s .7s 1 forwards;
            -o-animation: fadeIn .5s .7s 1 forwards;
            -webkit-animation: fadeIn .5s .7s 1 forwards;
            animation: fadeIn .5s .7s 1 forwards;
        }
    }

    .animate-in-legend-right {
        .line-ph i {
            -moz-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -o-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            -webkit-animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
            animation: scaleLineIn .5s .2s, scaleLineOut .5s .5s;
        }

        legend {
            -moz-animation: fadeIn .5s .7s 1 forwards;
            -o-animation: fadeIn .5s .7s 1 forwards;
            -webkit-animation: fadeIn .5s .7s 1 forwards;
            animation: fadeIn .5s .7s 1 forwards;
        }
    }

    .animate-text {
        -moz-animation: fadeIn .2s 0s 1 forwards;
        -o-animation: fadeIn .2s 0s 1 forwards;
        -webkit-animation: fadeIn .2s 0s 1 forwards;
        animation: fadeIn .2s 0s 1 forwards;
    }

    .animate-text-project {
        -moz-animation: fadeIn .5s 1s 1 forwards;
        -o-animation: fadeIn .5s 1s 1 forwards;
        -webkit-animation: fadeIn .5s 1s 1 forwards;
        animation: fadeIn .5s 1s 1 forwards;
    }
}

.animate-text-opacity-about {
    -moz-animation: fadeIn .5s .3s 1 forwards;
    -o-animation: fadeIn .5s .3s 1 forwards;
    -webkit-animation: fadeIn .5s .3s 1 forwards;
    animation: fadeIn .5s .3s 1 forwards;
}

