@import "../_variables.scss";
html.notmobile {
    .gallery {
        .close:hover {
            transform: rotate(360deg);
            transform-origin: center center;
            transition: all .5s ease-in-out;
        }
    }
}

.gallery {
    .svg-ph {
        height: 100%;
        width: 100%;
        svg {
            transform: rotate(180deg) translateX(79%) translateY(41%);
        }
    }
    will-change: transform;
    .images-ph {
        position: relative;
        left: -100%;
        margin-top: 25px;
        width: 960px;
    }
    .arrow {
        border-color: $link-color !important;
        width: 15%;
        height: 15%;
        top: -25px;
        left: 50%;
    }
    .image-list {
        overflow: hidden;
        height: 630px;
        background-color: $base-color;
        .ph {
            clip: rect(320px, 960px, 320px, 0);
            position: absolute;
        }
    }
    .close {
        left: 96%;
        position: relative;
        top: 15px;
        font-size: 15pt;
    }
    .prev {
        position: absolute;
        left: -80px;
        top: 45%;
        width: 60px;
        height: 60px;
        border-color: $link-color;
        .arrow {
            transform: translateX(-50%) translateY(-150%) rotate(-135deg);
        }
    }
    .next {
        position: absolute;
        top: 45%;
        right: -80px;
        border-color: $link-color;
        width: 60px;
        height: 60px;
        .arrow {
            transform: translateX(-50%) translateY(-150%) rotate(45deg);
        }
    }
    .images-menu {
        margin-top: 20px;
        text-align: center;
    }
    .active {
        background-color: $link-color !important;
    }
    .images-menu-item {
        background-color: $base-color;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        border: solid 1px $link-color;
        cursor: pointer;
    }
    .animate-in-upper-line {
        .line-ph i {
            animation: scaleLineIn .5s .2s;
        }
        .ph {
            animation: scaleMask 1s .7s 1 forwards;
        }
    }
}

@-moz-keyframes scaleMask {
    from {
        clip: rect(320px, 960px, 320px, 0);
        transform-origin: center;
    }
    to {
        clip: rect(0, 960px, 620px, 0);
        transform-origin: center;
    }
}

@-webkit-keyframes scaleMask {
    from {
        clip: rect(320px, 960px, 320px, 0);
        transform-origin: center;
    }
    to {
        clip: rect(0, 960px, 620px, 0);
        transform-origin: center;
    }
}

@keyframes scaleMask {
    from {
        clip: rect(320px, 960px, 320px, 0);
        transform-origin: center;
    }
    to {
        clip: rect(0, 960px, 620px, 0);
        transform-origin: center;
    }
}
