@import "../_variables.scss";
@import "../controls/_project-preview-animations.scss";
@import "../views/_gallery.scss";
@import "_tech.scss";
@import "_info.scss";
@-moz-document url-prefix() {
    .animate-in-link-tech,
    .animate-in-link-gallery,
    .animate-in-link-external {
        .line-ph i {
            top: 16%!important;
        }
    }
}

.work {
    float: left;
    height: auto;
    h2 {
        font-size: 1.3rem;
        text-transform: uppercase;
    }
    .btn {
        display: block;
        position: relative;
        transform: translate3d(0, 0, 0);
        h2 {
            opacity: 0;
        }
        i {
            width: 90%;
        }
    }
    .views {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .project {
        margin-bottom: 40px;
        min-height: 315px;
    }
}

.animate-in-title {
    .line-ph i {
        animation: scaleLineIn .5s .3s, scaleLineOut .5s .6s;
    }
    p {
        animation: fadeIn .5s .5s;
    }
}

.animate-text-opacity {
    animation: fadeIn .5s 1s 1 forwards;
}

.animate-in-link-tech {
    .line-ph i {
        animation: scaleLineIn .5s .5s, scaleLineOut .5s .8s;
    }
}

.animate-in-link-external {
    .line-ph i {
        animation: scaleLineIn .5s .5s, scaleLineOut .5s .8s;
    }
}

.animate-in-link-gallery {
    .line-ph i {
        animation: scaleLineIn .5s .5s, scaleLineOut .5s .8s 1 forwards;
    }
}

.animate-span {
    animation: fadeIn .2s 0s 1 forwards;
}

.animate-title-opacity {
    animation: fadeIn .2s .3s 1 forwards;
}

.animate-sprite {
    animation: fadeIn .5s .2s 1 forwards;
}
